body {
  overflow-x: hidden;
  overflow-y: scroll;
}

:root,
html,
body {
  box-sizing: border-box;
}

ul,
a,
li {
  text-decoration: none;
  list-style: none;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
nav,
p,
small,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background-color: transparent;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes up {
  from {
    transform: translateY(80px);
  }
  to {
    transform: translateY(0);
  }
}
